<form action='/' method='POST'>

  <h2>
    It's Idea Time:
  </h2>
  <h3><%= "Add some ideas" if ideas.empty? %></h3>
  <div class="form-group">
    <input class="form-control" type="text" name="idea[title]" placeholder="Title">
  </div>
  <div class="form-group">
    <textarea class="form-control" name="idea[description]" placeholder="Description"></textarea><br/>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="idea[tag]" placeholder="Tag"><br/>
  </div>
  <input class="btn btn-lg btn-click" type="submit"/>
</form>
<h3>Existing Ideas</h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>

          <th>Title</th>
          <th>Idea</th>
          <th>Created</th>
          <th>Tag</th>
          <th>LIKE</th>
          <th>Edit</th>
          <th>Nope</th>
        </tr>
      </thead>
      <tbody>
        <% ideas.each do |idea|  %>
        <tr>
          <td><%= idea.title %></td>
          <td><%= idea.description  %></td>
          <td><%= idea.time %></td>
          <td><a class="btn btn-lg btn-click" href='/filter/<%= idea.tag %>'><%= idea.tag %></a></td>
          <td>
            <form action="/<%= idea.id %>/like" method="POST" style="display: inline">
            <input class="btn btn-lg btn-click" type="submit" value="I LOVE THIS"/>
            </form>
          </td>
          <td><a class="btn btn-lg btn-click" href='/<%= idea.id %>/edit'>Edit</a></td>
          <td>
            <form action="/<%= idea.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input class="btn btn-lg btn-danger" type="submit" value="delete">
            </form>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- <h3>Tagged Idea</h3>
  <ul>
    <% ideas.each do |idea| %>
      <% if idea.tag != '' %>
        <li>
          <%= idea.title %><br/>
          Created AT: <%= Time.new("#{idea.time}") %>
          Tag: <%= idea.tag %>
        </li>
        <% end %>
      <%end  %>
  </ul> -->
